@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.ButtonCarica{
    background-color: #D68FD6;
    font-family: "Press Start 2P", sans-serif; 
    border-radius: 10px;
    margin: 10px;
}

.ButtonCarica:disabled{
    background-color: #464F51;
}

.ButtonCarica:hover{
    border-color: #825782;
}

.ButtonCopia{
    background-color: #0FF4C6;
    font-family: "Press Start 2P", sans-serif; 
    border-radius: 10px;
    margin: 10px;
}

.ButtonCopia:disabled{
    background-color: #464F51;
}

.ButtonCopia:hover{
    border-color: #11DDB4;
}